

/* svg elements are styled differently from html elements */
.single-line {
	fill: none;
	opacity: .25;
}

.axis-title {
	font-weight: bold;
	text-anchor: middle;
}

.legend-title {
	font-weight: bold;
	font-size: 10pt;
}

.legend-squares {
	stroke: black;
	stroke-width: 1;
}

.legend-labels {
	font-size: 10pt;
}


/* Interactivity Stuff */
.tooltip {
	position: absolute;
	display: inline;
	background-color: #ffffff;
	border: 1px solid #2d3666;
	border-radius: 2px;
	padding: 5px 10px;
	font-size: 12px;
	margin-top: -10px;
	transform: translate(-50%, -100%);
}